body {
    margin: 0;
    overflow: hidden;
    background: radial-gradient(circle, #0f0c29, #302b63, #24243e);
    font-family: Arial, sans-serif;
    color: #fff;
}

#description {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 250px;
    font-size: 16px;
    z-index: 1;
    line-height: 1.6;
    color: #ff79c6; 
}

#description h1 {
    color: #00ffff; 
}

#description p {
    color: #f8f8f2; 
}
@media (max-width: 768px) {
    #description {
        top: unset;
        bottom: 20px;  
        left: 20px;
        max-width: 90%; 
        font-size: 14px; 
    }
}

@media (max-width: 480px) {
    #description {
        font-size: 12px;
    }
}
